<div>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ornare nec diam fermentum tincidunt. Maecenas vitae odio in lacus facilisis laoreet a in leo.
      Vivamus eu blandit odio. Vestibulum ut tincidunt ante. Praesent vel neque id nulla varius ultricies. Fusce tincidunt mauris urna, quis maximus mi pharetra eget.
      Ut accumsan lacus ac risus lacinia mattis. Vestibulum feugiat aliquam libero, ut eleifend erat laoreet at. Nullam vel faucibus magna. Pellentesque fermentum sapien nec libero hendrerit,
      non gravida purus tincidunt. Nullam vel tellus sed quam luctus mattis sed ut risus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur erat ex,
      consectetur at ex in, tincidunt interdum eros.
      Ut egestas ipsum id mi eleifend feugiat. Suspendisse nec diam et leo finibus vehicula. Sed faucibus, elit a cursus facilisis, tortor felis congue ipsum, eget mattis arcu lacus et lacus.
    </div>
    <div>
      <h3>Qui êtes-vous ?</h3>
      <div class="mb-3">
        <label for="userName" class="form-label">Nom Prénom</label>
        <input class="form-control" placeholder="Nom prénom" id="userName" name="userName" [(ngModel)]="survey.userName">
      </div>
      <div class="mb-3">
        <label for="userEmail" class="form-label">Adresse e-mail</label>
        <input type="email" class="form-control" id="userEmail" name="userEmail" [(ngModel)]="survey.userEmail" placeholder="name@example.com">
      </div>
    </div>
    <div>
      <h3>Qui sera t'il/elle ?</h3>
      <div class="mb-3">
        <label for="sexe" class="form-label">Sexe</label>

<!--        <ng-select-->
<!--          [disabled]="!actionAllowed.updateUserProfile"-->
<!--          class="bdk-ng-select bdk-ng-select&#45;&#45;fitContent dropdown-min-width-200"-->
<!--          [(ngModel)]="profileDetails.id"-->
<!--          [items]="profileList"-->
<!--          name="profile"-->
<!--          placeholder=""-->
<!--          [searchable]="false"-->
<!--          [clearable]="false"-->
<!--          (change)="change()"-->
<!--          [bindLabel]="'label'"-->
<!--          [bindValue]="'id'"-->
<!--          appendTo=".main-content"-->
<!--        ></ng-select>-->

        <select name="sexe" id="sexe" class="form-control" [(ngModel)]="survey.sexe">
          <option *ngFor="let name of sexeList"  [ngValue]="survey.sexe">{{name}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth" class="form-label">Date de naissance</label>
        <input type="date" class="form-control" name="dateOfBirth" id="dateOfBirth" placeholder="18/11/2023" [(ngModel)]="survey.dateOfBirth">
      </div>
      <div class="mb-3">
        <label for="babyWeight" class="form-label">Poids à la naissance</label>
        <input type="number" class="form-control" name="dateOfBirth" id="babyWeight" placeholder="6 kg" [(ngModel)]="survey.weightOfBirth">
      </div>

      <div class="mb-3">
        <label for="babyFirstName" class="form-label">Prénom du monstre </label>
        <input type="text" class="form-control" name="babyFirstName"  id="babyFirstName" placeholder="Gertrude" [(ngModel)]="survey.childFirstName">
      </div>
    </div>
    <input type="submit" value="Sauvegarder" class="btn btn-primary">
  </form>
</div>


