<div>

  <div>
    <div class="identityRow">
      <label>Nom</label>
    </div>
    <div class="identityRow">
      <label>Prenom</label>
    </div>
    <div class="identityRow">
      <label>mail</label>
    </div>
  </div>
<div id="surveyBlock">
  <div class="surveyLine">
    <label>Sexe ?</label>
  </div>
  <div class="surveyLine">
    <label>Quel poids ?</label>
  </div>
  <div class="surveyLine">
    <label>Date de naissance</label>
  </div>

  <div class=" surveyLine">
    <label>Quel poids ?</label>
  </div>

  <div class=" surveyLine">
    <label>Quel poids ?</label>
  </div>
</div>
</div>
